.app {
  position:relative;
  width: 90%;
  left:5%;
  top:1em;
  right: 5%;
}

.box {
  display:inline-block;
  width: 4em;
  height: 4em;
  border: 1px black solid;
  margin: 1px;
  line-height:4em;
}

.boxes {
  margin-top:1em;
}

.found {
  background-color: lime;
}

.guess {
  background-color: yellow;
}

.badGuess {
  background-color: red;
}

.impossible {
  background-color: brown;
}

.inputs {
  font-size: 1.5em;
  height: 2em;
  width: 100%;
  margin-bottom: 1em;
}
.inputs input, .inputs select, .inputs button{
  font-size: 1em;
}

